*.class

# Package Files #
*.jar
*.war
*.ear

# Virtual machine crash logs
hs_err_pid*

# Mac File System
.DS_Store

### Maven
target/
**/target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

### Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties

### IntelliJ IDEA
*.iml
.idea/
*.ipr
*.iws
/out/
.idea_modules/

### Eclipse
.classpath
.project
/.settings
/bin

### VS Code
.vscode/

# Test artifacts
input.ps
